SESSION_SECRET=replace-with-a-long-random-secret
ALLOW_ACCOUNT_REGISTRATION=true
GIFT_IDEA_ADMIN_EMAILS=
ALLOW_DEMO_LOGIN=false
AUTH_EMAIL=
AUTH_PASSWORD=
AUTH_NAME=
SHOW_PASSWORD_RESET_LINKS=false
ENABLE_GOOGLE_LOGIN=false
AMAZON_BUSINESS_APPLICATION_ID=
AMAZON_BUSINESS_CLIENT_ID=
AMAZON_BUSINESS_CLIENT_SECRET=
AMAZON_BUSINESS_REDIRECT_URI=https://amazon2-momyzfei.on-forge.com/api/amazon/oauth/callback
AMAZON_BUSINESS_MARKETPLACE_URL=https://www.amazon.com
AMAZON_BUSINESS_MARKETPLACE_ID=ATVPDKIKX0DER
AMAZON_BUSINESS_API_ENDPOINT=https://na.business-api.amazon.com
